[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = " (unofficial) tqdm-like lua pretty progress bar"
[access "refs/*"]
	owner = group user/nepta (Nepta)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/nepta (Nepta)
	label-Verified = -1..+1 group user/nepta (Nepta)
	push = group user/nepta (Nepta)
	read = group user/nepta (Nepta)
	rebase = group user/nepta (Nepta)
	removeReviewer = group user/nepta (Nepta)
	submit = group user/nepta (Nepta)
[access "refs/heads/*"]
	create = group user/nepta (Nepta)
	push = +force group user/nepta (Nepta)
	pushMerge = group user/nepta (Nepta)
	read = group user/nepta (Nepta)
[access "refs/tags/*"]
	push = group user/nepta (Nepta)
	push = +force group user/nepta (Nepta)
